@model IEnumerable<ProyectoBD.SanosCanton_Result>

@{
    ViewBag.Title = "Sanos canton";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Recuperados por canton</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cantón)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero_de_recuperados)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cantón)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero_de_recuperados)
            </td>
        </tr>
    }

</table>