@model IEnumerable<ProyectoBD.TopEspecialidad_Result>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Top especialidades con mas casos atendidos</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Especialidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Casos_atendidos)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Casos_atendidos)
            </td>
        </tr>
    }

</table>

